<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <script type="text/javascript" src="jquery-1.8.3.js"></script>
    <script type="text/javascript" src="jsGame.js"></script>
    <link href="jsGame.css" rel="stylesheet" type="text/css"></link>
</head>
<body>
    <div class="mainDiv">
        <div class="headDiv">
            <div class="scoreDiv">
                <span>成绩：</span><span id="scoreSpan">0</span>
            </div>
            <div class="heightScoreDiv">
                <span>最高：</span><span id="heightSpan">0</span>
            </div>
            <div class="gradeDiv">
                <span>等级：</span><span id="gradeSpan">1</span>
            </div>
            <div class="progressDiv">
                <div class="progressContainer" style="border:2px solid #fff">
                    <div class="progressContent"></div>
                </div>
            </div>
            <div class="beginGameDiv">
                <div class="beginButton">
                    <span>开始游戏</span>
                </div>
            </div>
        </div>
        <div class="contentDiv">
            <div class="gameList topLeft">
                <span>第一关</span>
            </div>
            <div class="gameList topMiddle">
                <span>第二关</span>
            </div>
            <div class="gameList topright">
                <span>第三关</span>
            </div>
            <div class="gameList middleLeft">
                <span>第四关</span>
            </div>
            
            <div class="gameList middleright">
                <span>第五关</span>
            </div>
            <div class="gameList bottomLeft">
                <span>第六关</span>
            </div>
            <div class="gameList bottomMiddle">
                <span>第七关</span>
            </div>
            <div class="gameList bottomright">
                <span>第八关</span>
            </div>
        </div>
    </div>
</body>
</html>

